<a href="https://colab.research.google.com/github/kyrollossarwat/ADVwork2019/blob/main/BikeStores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("BikeStores.csv")

In [11]:
#1- read data

In [8]:
#2- print head and tail
df.head()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland

In [10]:
#2- print head and tail
df.tail()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [74]:
#3- info about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   City           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
 12  tax            4722 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 479.7+ KB

In [14]:
#4- describe data
df.describe()

          order_id  total_units       revenue
count  4722.000000  4722.000000   4722.000000
mean    821.265354     1.498941   1816.812554
std     465.152168     0.500052   2228.160984
min       1.000000     1.000000     89.990000
25%     423.250000     1.000000    539.980000
50%     828.500000     1.000000    939.980000
75%    1226.000000     2.000000   1999.980000
max    1615.000000     2.000000  23999.980000

In [15]:
#5- Check missing values
df.isnull().sum()

order_id         0
customers        0
city             0
state            0
order_date       0
total_units      0
revenue          0
product_name     0
category_name    0
brand_name       0
store_name       0
sales_rep        0
dtype: int64

In [60]:
df.duplicated().sum()

0

In [17]:
#7- unique values and value count for each column
df.nunique()

order_id         1615
customers        1444
city              195
state               3
order_date        725
total_units         2
revenue           200
product_name      278
category_name       7
brand_name          9
store_name          3
sales_rep           6
dtype: int64

In [18]:
#7- unique values and value count for each column
df.value_counts()

order_id  customers            city             state  order_date  total_units  revenue  product_name                                       category_name        brand_name   store_name        sales_rep
1         Johnathan Velazquez  Pleasanton       CA     1/1/2016    1            599.99   Electra Townie Original 7D EQ - Women's - 2016     Cruisers Bicycles    Electra      Santa Cruz Bikes  Mireya Copeland    1
1086      Lucio Sherman        Smithtown        NY     21/8/2017   2            3098.00  Surly Straggler - 2016                             Cyclocross Bicycles  Surly        Baldwin Bikes     Venita Daniel      1
1092      Ronna Butler         Encino           CA     25/8/2017   1            449.00   Pure Cycles Western 3-Speed - Women's - 2015/2016  Cruisers Bicycles    Pure Cycles  Santa Cruz Bikes  Mireya Copeland    1
1091      Phuong Wolf          Schenectady      NY     24/8/2017   1            5499.99  Trek Domane SLR 6 Disc - 2017                      Road Bikes           Trek         Baldwin Bikes     Venita Daniel      1
                                                                                449.00   Pure Cycles William 3-Speed - 2016                 Cruisers Bicycles    Pure Cycles  Baldwin Bikes     Venita Daniel      1
                                                                                                                                                                                                                  ..
562       Davis Long           Lancaster        NY     19/11/2016  2            999.98   Electra Townie Original 7D - 2015/2016             Comfort Bicycles     Electra      Baldwin Bikes     Venita Daniel      1
                                                                   1            599.99   Electra Townie Original 7D EQ - 2016               Comfort Bicycles     Electra      Baldwin Bikes     Venita Daniel      1
561       Marjorie Logan       Franklin Square  NY     19/11/2016  2            1059.98  Electra Moto 1 - 2016                              Cruisers Bicycles    Electra      Baldwin Bikes     Marcelene Boyer    1
                                                                                858.00   Pure Cycles Vine 8-Speed - 2016                    Cruisers Bicycles    Pure Cycles  Baldwin Bikes     Marcelene Boyer    1
1615      Sarita Parks         Forney           TX     28/12/2018  2            4599.98  Trek Verve+ Lowstep - 2018                         Electric Bikes       Trek         Rowlett Bikes     Kali Vargas        1
Name: count, Length: 4722, dtype: int64

In [22]:
#8-shape of data
df.shape

(4722, 12)

In [24]:
#Statistical Summary >>> Numerical
df.describe()

          order_id  total_units       revenue
count  4722.000000  4722.000000   4722.000000
mean    821.265354     1.498941   1816.812554
std     465.152168     0.500052   2228.160984
min       1.000000     1.000000     89.990000
25%     423.250000     1.000000    539.980000
50%     828.500000     1.000000    939.980000
75%    1226.000000     2.000000   1999.980000
max    1615.000000     2.000000  23999.980000

In [29]:
#remove null
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   city           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 442.8+ KB

In [31]:
## Numerical>> Mean , Categorical >> Mode
df["revenue"].mean()

1816.812554002541

In [33]:
df["revenue"].mode()

0    539.98
Name: revenue, dtype: float64

In [38]:
#Sort Values
df.sort_values(by = 'order_id')

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
...,...,...,...,...,...,...,...,...,...,...,...,...
4716,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,539.98,Electra Cruiser 1 - 2016/2017/2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [72]:
#Add Column
df['tax']=df['revenue']*0.05

In [39]:
#Rename Columns
df.rename(columns = {'city':'City'}, inplace = True)

In [45]:
##avg revenue
df["revenue"].mean()

1816.812554002541

In [46]:
## highest and lowest revenue

In [48]:
df["revenue"].max()

23999.98

In [49]:
df["revenue"].min()

89.99

In [52]:
## orders roads bike as category name
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   City           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 442.8+ KB

In [57]:
df[df['category_name'] == 'Road Bikes'].shape[0]

374

In [59]:
df[(df["revenue"] >= 1000)]

,order_id,customers,City,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
5,2,Jaqueline Cummings,Huntington Station,NY,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Baldwin Bikes,Marcelene Boyer
...,...,...,...,...,...,...,...,...,...,...,...,...
4715,1613,Debra Burks,Orchard Park,NY,18/11/2018,1,4999.99,Trek Domane SL 7 Women's - 2018,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [64]:
## total revenue for each brand
df.groupby('brand_name')['revenue'].sum()

brand_name
Electra         1344143.79
Haro             207096.69
Heller           193798.71
Pure Cycles      166164.00
Ritchey           88498.82
Strider            4849.75
Sun Bicycles     381919.69
Surly           1063135.82
Trek            5129381.61
Name: revenue, dtype: float64

In [66]:
## total revenue for each category name
df.groupby('category_name')['revenue'].sum()

category_name
Children Bicycles       327888.21
Comfort Bicycles        438506.87
Cruisers Bicycles      1109151.04
Cyclocross Bicycles     799874.60
Electric Bikes         1020236.85
Mountain Bikes         3030775.71
Road Bikes             1852555.60
Name: revenue, dtype: float64

In [68]:
## total revenue for each state
df.groupby('state')['revenue'].sum()

state
CA    1790145.91
NY    5826242.21
TX     962600.76
Name: revenue, dtype: float64

In [69]:
## total revenue for each sales rep
df.groupby('sales_rep')['revenue'].sum()

sales_rep
Genna Serrano       952722.26
Kali Vargas         516695.17
Layla Terrell       445905.59
Marcelene Boyer    2938888.73
Mireya Copeland     837423.65
Venita Daniel      2887353.48
Name: revenue, dtype: float64

In [70]:
## total revenue for each store name
df.groupby('store_name')['revenue'].sum()

store_name
Baldwin Bikes       5826242.21
Rowlett Bikes        962600.76
Santa Cruz Bikes    1790145.91
Name: revenue, dtype: float64

In [71]:
df[df['sales_rep'] == 'Genna Serrano'].max()

order_id                               1612
customers                    Zulema Clemons
City                              Yuba City
state                                    CA
order_date                         9/8/2017
total_units                               2
revenue                            10999.98
product_name     Trek XM700+ Lowstep - 2018
category_name                    Road Bikes
brand_name                             Trek
store_name                 Santa Cruz Bikes
sales_rep                     Genna Serrano
dtype: object

In [73]:
df.groupby('brand_name')['tax'].max()

brand_name
Electra          299.999
Haro             146.999
Heller           259.900
Pure Cycles       44.900
Ritchey           74.999
Strider           28.999
Sun Bicycles     155.999
Surly            249.999
Trek            1199.999
Name: tax, dtype: float64